@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/bg/bg3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  align-items: center;
  justify-content: space-around;
  display: none;
  z-index: 10;
}

.container.active {
  display: flex;
}

.rain1 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  -webkit-animation: rain 1s infinite linear;
          animation: rain 1s infinite linear;
  margin: 0 1rem;
}

.rain2 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 1.5s infinite linear;
          animation: rain 1.5s infinite linear;
}

.rain3 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 4.5s infinite linear;
          animation: rain 4.5s infinite linear;
}

.rain4 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 3s infinite linear;
          animation: rain 3s infinite linear;
}

.rain5 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 4s infinite linear;
          animation: rain 4s infinite linear;
}

.rain6 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 3.5s infinite linear;
          animation: rain 3.5s infinite linear;
}

.rain7 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 7s infinite linear;
          animation: rain 7s infinite linear;
}

.rain8 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 5.5s infinite linear;
          animation: rain 5.5s infinite linear;
}

.rain9 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 2s infinite linear;
          animation: rain 2s infinite linear;
}

.rain10 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 1.7s infinite linear;
          animation: rain 1.7s infinite linear;
}

.rain11 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 6s infinite linear;
          animation: rain 6s infinite linear;
}

.rain12 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 2.5s infinite linear;
          animation: rain 2.5s infinite linear;
}

.rain13 {
  height: 15px;
  width: 2px;
  background-color: rgb(155, 155, 208);
  border-radius: 50%;
  margin: 0 1rem;
  -webkit-animation: rain 1.3s infinite linear;
          animation: rain 1.3s infinite linear;
}

.main-container {
  display: flex;
}
.main-container .profile {
  width: 15%;
}
.main-container .profile .profile-links {
  padding: 2rem;
  position: fixed;
  height: 100vh;
  border-right: solid white 1px;
}
.main-container .profile .profile-links h2 {
  color: pink;
  font-family: "Inspiration", sans-serif;
  padding-left: 0.5rem;
  font-size: 30px;
  text-align: center;
}
.main-container .profile .profile-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-top: 5rem;
  width: 100%;
}
.main-container .profile .profile-links li {
  padding: 1rem;
}
.main-container .profile .profile-links li a {
  color: white;
  display: block;
}
.main-container .profile .profile-links li a:hover {
  color: red;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}
.main-container .profile .profile-links i {
  font-size: 30px;
  padding-right: 1rem;
}
.main-container .menu {
  position: absolute;
  flex-direction: column;
  display: none;
  top: 1rem;
  left: 1rem;
}
.main-container .menu .bars {
  padding: 2px 15px;
  margin: 3px;
  background-color: white;
  transition: 0.5s ease;
}

section {
  width: 105%;
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}
section .about-container {
  z-index: 10;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/bg/bg3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
section .about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 2rem;
}
section .about .left .avatar {
  border-radius: 50%;
  height: 100px;
}
section .about .right {
  color: white;
}
section .about .right p {
  line-height: 50px;
}
section .about .right li {
  list-style-type: disc;
}
section h1 {
  color: white;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  padding: 10rem 0 5rem 0;
}
section .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}
section .grid-container a {
  text-decoration: none;
  color: white;
}
section .grid-container a h4 {
  border: solid red 3px;
  margin: 1rem 0;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  background-color: black;
}
section .grid-container h4:hover {
  background-color: white;
  color: red;
  transition: 0.5s ease;
}
section .grid-container .live {
  background-color: white;
  color: red;
}
section .grid-container .live:hover {
  background-color: black;
}
section .grid-container img {
  height: 60%;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
}
section .grid-container .box {
  margin: 1rem;
  padding: 2rem;
}
section .grid-container .box .info {
  color: white;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}
section .grid-container .box .info h2 {
  text-align: left;
  margin: 1rem 0;
}
section .grid-container .box .info .tools-used {
  display: flex;
}
section .grid-container .box .info .tools-used .box-tools {
  padding: 0.5rem 2rem;
  background-color: white;
  color: black;
  margin: 1rem 0.5rem 1rem 0;
  border-radius: 30px;
}
section .grid-container .box .box-links {
  display: flex;
  justify-content: flex-start;
}
section .grid-container .box .box-links a {
  padding: 0 0.5rem;
}

.tech-stack {
  margin: 0 20rem;
  padding-top: 5rem;
}
.tech-stack h2 {
  color: white;
}
.tech-stack .stack-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tech-stack .front-end {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid white 1px;
  padding: 5rem;
  margin: 5rem 0;
  border-radius: 15px;
}
.tech-stack .front-end img {
  padding: 1rem;
  margin-top: 2rem;
}
.tech-stack .front-end img:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-1em);
}
.tech-stack .essentials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid white 1px;
  padding: 5rem;
  margin: 5rem 0;
  border-radius: 15px;
}
.tech-stack .essentials img {
  height: 100px;
  margin-top: 2rem;
  padding: 1rem;
}
.tech-stack .essentials img:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-1em);
}
.tech-stack .coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid white 1px;
  padding: 5rem;
  margin: 5rem 0;
  border-radius: 15px;
}
.tech-stack .coming-soon img {
  height: 100px;
  margin-top: 2rem;
  padding: 1rem;
}
.tech-stack .coming-soon img:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-1em);
}

.social-links {
  position: fixed;
  left: 1.5rem;
  bottom: 2rem;
  text-decoration: none;
  z-index: 10;
}
.social-links img {
  background-color: white;
  border-radius: 15px;
  margin: 0 3px;
  padding: 3px;
}
.social-links img:hover {
  background-color: gray;
  transition: 0.5s ease-in-out;
  transform: translateY(-1em);
}
.social-links .tuyu {
  background: none;
  cursor: pointer;
}
.social-links a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .main-container .menu-bg {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.1px);
    -webkit-backdrop-filter: blur(15.1px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    height: 11vh;
    z-index: 10;
  }
  .main-container .menu {
    display: flex;
    z-index: 1;
    position: fixed;
    top: 1.5rem;
  }
  .main-container .menu.active .bars:nth-child(2) {
    opacity: 0;
  }
  .main-container .menu.active .bars:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .main-container .menu.active .bars:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .main-container .profile {
    padding: 5rem 3rem;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 5rem;
    /* From https://css.glass */
    background: rgba(70, 28, 105, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.8px);
    -webkit-backdrop-filter: blur(12.8px);
    border: 1px solid rgba(70, 28, 105, 0.3);
    z-index: 1;
    display: none;
    -webkit-animation: slide 0.5s ease-in-out;
            animation: slide 0.5s ease-in-out;
    overflow: hidden;
    position: fixed;
  }
  .main-container .profile .profile-links {
    border: none;
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 2rem;
  }
  .main-container .profile .profile-links h2 {
    font-size: 35px;
  }
  .main-container .profile .profile-links ul {
    padding-top: 2rem;
  }
  .main-container .profile .profile-links li a {
    font-size: 20px;
  }
  .main-container .profile.active {
    display: flex;
  }
  section {
    padding: 1rem 0;
    width: 100%;
  }
  section .about {
    padding: 5rem 0;
    flex-direction: column;
  }
  section h1 {
    font-size: 20px;
    padding: 0;
  }
  section .grid-container {
    margin: 1rem 0;
    grid-template-columns: repeat(1, 1fr);
  }
  section .grid-container .box {
    margin: 5rem 0;
  }
  section .grid-container .box .info .tools-used .box-tools {
    padding: 0.5rem 0.5rem;
    margin: 1rem 1rem 1rem 0;
  }
  section .grid-container img {
    height: 50%;
    width: 100%;
  }
  section .tech-stack {
    margin: 2rem;
  }
  section .tech-stack .front-end {
    padding: 1rem;
  }
  section .tech-stack .essentials {
    padding: 1rem;
  }
  section .tech-stack .coming-soon {
    padding: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .main-container .menu {
    position: fixed;
  }
  .main-container .profile {
    height: 105vh;
    top: 3.8rem;
  }
  .main-container .profile .profile-links {
    position: absolute;
    left: 2rem;
  }
  .main-container .profile .profile-links h2 {
    font-size: 30px;
  }
  .main-container .profile .profile-links li a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .main-container .menu {
    position: fixed;
    top: 1rem;
  }
  .main-container .profile {
    height: 105vh;
    top: 3.8rem;
  }
  .main-container .profile .profile-links {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
  }
  .main-container .profile .profile-links h2 {
    font-size: 30px;
  }
  .main-container .profile .profile-links ul {
    padding-top: 2rem;
  }
  .main-container .profile .profile-links li a {
    font-size: 20px;
  }
  section .about {
    padding: 5rem 0;
  }
  .grid-container .box h4 {
    font-size: 10px;
  }
  .grid-container .box .info .tools-used .box-tools {
    font-size: 10px;
  }
  .tech-stack {
    margin: 2rem;
  }
  .tech-stack .front-end {
    padding: 0;
  }
  .tech-stack .front-end img {
    height: 75px;
  }
  .tech-stack .essentials {
    padding: 0;
  }
  .tech-stack .essentials img {
    height: 75px;
  }
  .tech-stack .coming-soon {
    padding: 0;
  }
  .tech-stack .coming-soon img {
    height: 75px;
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(-500px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-500px);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes rain {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(4000px);
  }
}
@keyframes rain {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(4000px);
  }
}/*# sourceMappingURL=profile.css.map */